package <%- app.package %>;

import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.Matchers.empty;
import static org.hamcrest.Matchers.in;
import static org.hamcrest.Matchers.is;
import static org.hamcrest.Matchers.not;
import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertNotNull;

import java.time.Duration;
import java.time.Instant;
import java.util.List;
import java.util.Objects;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.ApplicationContext;
import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.MediaType;
import org.springframework.test.web.reactive.server.WebTestClient;

@ControllerTest
public class <%- ClassName %>ControllerTest {

  @Autowired
  ApplicationContext context;

  @Autowired
  TestData data;

  @Autowired
  <%- ClassName %>Repository repository;

  WebTestClient rest;

  @BeforeEach
  public void setUp() {
    rest = WebTestClient.bindToApplicationContext(context)
        .configureClient()
        .responseTimeout(Duration.ofHours(1L))
        .build();
  }

  @Test
  public void createGetAndList() {

    <%- ClassName %> entity = new <%- ClassName %>();
    <%- SetFieldTestValues %>

    <%- ClassName %> created = rest.post()
        .uri("/<%- EndPoint %>")
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(entity)
        .exchange()
        .expectStatus()
        .isCreated()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(created);
    <%- AssertFieldTestValues %>

    <%- ClassName %> single = rest.get()
        .uri("/<%- EndPoint %>/{id}", created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(single);
    assertEquals(created.getId(), single.getId());

    List<<%- ClassName %>> list = rest.get()
        .uri("/<%- EndPoint %>")
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(new ParameterizedTypeReference<List<<%- ClassName %>>>() {
        })
        .returnResult()
        .getResponseBody();

    assertNotNull(list);
    assertThat(list, not(empty()));
    assertThat(created, is(in(list)));
  }

  @Test
  public void createUpdateAndGet() {

    <%- ClassName %> entity = new <%- ClassName %>();
    <%- SetFieldTestValues %>

    <%- ClassName %> created = rest.post()
        .uri("/<%- EndPoint %>")
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(entity)
        .exchange()
        .expectStatus()
        .isCreated()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(created);
    <%- AssertFieldTestValues %>

    <%- SetFieldTestValuesUpdated %>

    <%- ClassName %> updated = rest.put()
        .uri("/<%- EndPoint %>/{id}", created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(entity)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(updated);
    <%- AssertFieldTestValuesUpdated %>

    <%- ClassName %> single = rest.get()
        .uri("/<%- EndPoint %>/{id}", created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(single);
    assertEquals(created.getId(), single.getId());
  }

  @Test
  public void createDeleteAndGet() {

    <%- ClassName %> entity = new <%- ClassName %>();
    <%- SetFieldTestValues %>

    <%- ClassName %> created = rest.post()
        .uri("/<%- EndPoint %>")
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(entity)
        .exchange()
        .expectStatus()
        .isCreated()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(created);
    <%- AssertFieldTestValues %>

    <%- ClassName %> deleted = rest.delete()
        .uri("/<%- EndPoint %>/{id}", created.getId())
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- ClassName %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(deleted);
    assertEquals(created.getId(), deleted.getId());

    rest.get()
        .uri("/<%- EndPoint %>/{id}", created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isNotFound();
  }

  @Test
  public void getInvalid() {
    rest.get()
        .uri("/<%- EndPoint %>/{id}", "invalid")
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isBadRequest();
  }

  @Test
  public void getMissing() {
    rest.get()
        .uri("/<%- EndPoint %>/{id}", -666L)
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isNotFound();
  }
  <% SingleRelations.forEach(function(relation) { %>
  @Test
  public void get<%- RelationNames[relation] %>() {
    <%- ClassName %> entity = new <%- ClassName %>();
    <%- SetFieldTestValues %>

    <%- ClassName %> <%- ObjectName %> = Objects.requireNonNull(repository.save(entity).block());

    <%- RelationTypes[relation] %> result = rest.get()
        .uri("/<%- EndPoint %>/{id}/<%- RelationEndpoints[relation] %>", <%- ObjectName %>.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(result);
    assertEquals(result.getId(), result.getId());
  }

  @Test
  public void getInvalid<%- RelationNames[relation] %>() {
    rest.get()
        .uri("/<%- EndPoint %>/{id}/<%- RelationEndpoints[relation] %>", "invalid")
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isBadRequest();
  }

  @Test
  public void getMissing<%- RelationNames[relation] %>() {
    rest.get()
        .uri("/<%- EndPoint %>/{id}/<%- RelationEndpoints[relation] %>", -666L)
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isNotFound();
  }
  <% }); %>
  <% ManyRelations.forEach(function(relation) { %>
  @Test
  public void createGetAndList<%- RelationNames[relation] %>() {
    <%- RelationTypes[relation] %> <%- RelationObjects[relation] %> = new <%- RelationTypes[relation] %>();
    <%- RelationSetRelationFields[relation] %>
    <%- RelationSetFieldTestValues[relation] %>

    <%- RelationTypes[relation] %> created = rest.post()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>", data.get<%- ClassName %>().getId())
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(<%- RelationObjects[relation] %>)
        .exchange()
        .expectStatus()
        .isCreated()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(created);

    <%- RelationTypes[relation] %> single = rest.get()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(single);
    assertEquals(created.getId(), single.getId());

    List<<%- RelationTypes[relation] %>> list = rest.get()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>", data.get<%- ClassName %>().getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(new ParameterizedTypeReference<List<<%- RelationTypes[relation] %>>>() {
        })
        .returnResult()
        .getResponseBody();

    assertNotNull(list);
    assertThat(list, not(empty()));
    assertThat(created, is(in(list)));
  }

  @Test
  public void createUpdateAndGet<%- RelationNames[relation] %>() {
    <%- RelationTypes[relation] %> <%- RelationObjects[relation] %> = new <%- RelationTypes[relation] %>();
    <%- RelationSetRelationFields[relation] %>
    <%- RelationSetFieldTestValues[relation] %>

    <%- RelationTypes[relation] %> created = rest.post()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>", data.get<%- ClassName %>().getId())
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(<%- RelationObjects[relation] %>)
        .exchange()
        .expectStatus()
        .isCreated()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(created);
    assertEquals(data.get<%- ClassName %>().getId(), created.get<%- ClassName %>Id());
    <%- RelationAssertFieldTestValues[relation] %>

    <%- RelationSetFieldTestValuesUpdated[relation] %>

    <%- RelationTypes[relation] %> updated = rest.put()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(<%- RelationObjects[relation] %>)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(updated);
    assertEquals(data.get<%- ClassName %>().getId(), updated.get<%- ClassName %>Id());
    <%- RelationAssertFieldTestValuesUpdated[relation] %>

    <%- RelationTypes[relation] %> single = rest.get()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(single);
    assertEquals(created.getId(), single.getId());
  }

  @Test
  public void createDeleteAndGet<%- RelationNames[relation] %>() {
    <%- RelationTypes[relation] %> <%- RelationObjects[relation] %> = new <%- RelationTypes[relation] %>();
    <%- RelationSetRelationFields[relation] %>
    <%- RelationSetFieldTestValues[relation] %>

    <%- RelationTypes[relation] %> created = rest.post()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>", data.get<%- ClassName %>().getId())
        .accept(MediaType.APPLICATION_JSON)
        .bodyValue(<%- RelationObjects[relation] %>)
        .exchange()
        .expectStatus()
        .isCreated()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(created);
    assertEquals(data.get<%- ClassName %>().getId(), created.get<%- ClassName %>Id());
    <%- RelationAssertFieldTestValues[relation] %>

    <%- RelationTypes[relation] %> deleted = rest.delete()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), created.getId())
        .exchange()
        .expectStatus()
        .isOk()
        .expectBody(<%- RelationTypes[relation] %>.class)
        .returnResult()
        .getResponseBody();

    assertNotNull(deleted);
    assertEquals(created.getId(), deleted.getId());

    rest.get()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), created.getId())
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isNotFound();
  }

  @Test
  public void getInvalid<%- RelationNames[relation] %>() {
    <%- ClassName %> entity = new <%- ClassName %>();
    <%- SetFieldTestValues %>
    <%- ClassName %> <%- ObjectName %> = Objects.requireNonNull(repository.save(entity).block());

    rest.get()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), "invalid")
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isBadRequest();
  }

  @Test
  public void getMissing<%- RelationNames[relation] %>() {
    <%- ClassName %> entity = new <%- ClassName %>();
    <%- SetFieldTestValues %>
    <%- ClassName %> <%- ObjectName %> = Objects.requireNonNull(repository.save(entity).block());

    rest.get()
        .uri("/<%- EndPoint %>/{<%- ObjectName %>Id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}", data.get<%- ClassName %>().getId(), -666L)
        .accept(MediaType.APPLICATION_JSON)
        .exchange()
        .expectStatus()
        .isNotFound();
  }
  <% }); %>
}
