package <%- app.package %>;

import org.springframework.stereotype.Component;

@Component
public class TestData {

  <%- TestDataEntityFields %>

  <%- TestDataGetters %>

  <%- TestDataSetters %>

  <%- TestDataToString %>
}
