package <%- app.package %>;

import java.time.Instant;
import org.junit.jupiter.api.extension.BeforeAllCallback;
import org.junit.jupiter.api.extension.ExtensionContext;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.context.ApplicationContext;
import org.springframework.test.context.junit.jupiter.SpringExtension;

public class TestDataSetup implements BeforeAllCallback {

  private final Logger logger = LoggerFactory.getLogger(getClass());

  private final Object lock = new Object();
  private static boolean initialized = false;

  @Override
  public void beforeAll(ExtensionContext context) {
    synchronized (lock) {
      if (!initialized) {
        initialized = true;
        logger.info("initializing test data...");

        final ApplicationContext ctx = SpringExtension.getApplicationContext(context);
        final TestData data = ctx.getBean(TestData.class);
        logger.debug("initial test data: {}", data);
<% EntityNames.forEach(function(EntityName) { %>
        final <%- EntityName %>Repository <%- entityName[EntityName] %>Repository = ctx.getBean(<%- EntityName %>Repository.class);
        logger.debug("creating <%- EntityName %>...");
        final <%- EntityName %> <%- entityName[EntityName] %> = new <%- EntityName %>();
        <%- TestDataSetups[EntityName] %>
        data.set<%- EntityName %>(<%- entityName[EntityName] %>Repository.deleteAll()
            .then(<%- entityName[EntityName] %>Repository.save(<%- entityName[EntityName] %>))
            .block());
        logger.info("test <%- EntityName %>: {}", data.get<%- EntityName %>());
<% }); %>
        logger.info("test data initialized: {}", data);
      }
    }
  }

}
