import { browser, by, element } from 'protractor';

export class NotFoundPage {
  navigateTo(): Promise<NotFoundPage> {
    return browser.get(`${browser.baseUrl}/missing-page`) as Promise<NotFoundPage>;
  }

  getTitleText(): Promise<string> {
    return new Promise((resolve) => {
      browser.getTitle().then(resolve);
    });
  }

  getHeaderText(): Promise<string> {
    return element(
      by.css('body > app-root > div > app-header > mat-toolbar > div:nth-child(2) > a')
    ).getText() as Promise<string>;
  }

  getBodyText(): Promise<string> {
    return element(
      by.css('body > app-root > div > mat-sidenav-container > mat-sidenav-content > app-page-not-found > p')
    ).getText() as Promise<string>;
  }
}
