import { Component, Input } from '@angular/core';
import { MediaChange, MediaObserver } from '@angular/flex-layout';
import { MatDrawerMode } from '@angular/material/sidenav';
import { EMPTY, map, Observable } from 'rxjs';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.sass']
})
export class AppComponent {
  @Input() topGap: Observable<number>;
  @Input() sideNavOpen: Observable<boolean>;
  @Input() sideNavMode: Observable<MatDrawerMode>;

  constructor(mediaObserver: MediaObserver) {
    const mediaEvents = mediaObserver.asObservable();
    if (mediaEvents) {
      this.topGap = mediaEvents.pipe(
        map((changes: MediaChange[]) => {
          if (changes.map((change) => change.mqAlias).includes('lt-sm')) {
            return 56;
          } else {
            return 64;
          }
        })
      );
      this.sideNavOpen = mediaEvents.pipe(
        map((changes: MediaChange[]) => {
          if (changes.map((change) => change.mqAlias).includes('gt-md')) {
            return true;
          } else {
            return false;
          }
        })
      );
      this.sideNavMode = mediaEvents.pipe(
        map((changes: MediaChange[]) => {
          if (changes.map((change) => change.mqAlias).includes('gt-md')) {
            return 'side';
          } else {
            return 'over';
          }
        })
      );
    } else {
      this.topGap = EMPTY;
      this.sideNavOpen = EMPTY;
      this.sideNavMode = EMPTY;
    }
  }
}
