package <%- app.package %>;

import static io.restassured.RestAssured.delete;
import static io.restassured.RestAssured.get;
import static io.restassured.RestAssured.given;

import io.quarkus.test.junit.NativeImageTest;
import io.restassured.http.ContentType;
import org.junit.jupiter.api.Test;

@NativeImageTest
public class Native<%- ClassName %>ResourceTest {

  @Test
  public void getAll() {
    get("/<%- EndPoint %>")
        .then()
        .statusCode(200);
  }

  @Test
  public void getSingleMissing() {
    get("/<%- EndPoint %>/{id}", 404L)
        .then()
        .statusCode(404);
  }

  @Test
  public void create() {
    <%- ClassName %> body = new <%- ClassName %>(42L, <%- FieldTestValues %>);
    given()
        .contentType(ContentType.JSON)
        .body(body)
        .post("/<%- EndPoint %>")
        .then()
        .statusCode(201);
  }

  @Test
  public void updateMissing() {
    <%- ClassName %> body = new <%- ClassName %>(42L, <%- FieldTestValues %>);
    given()
        .contentType(ContentType.JSON)
        .body(body)
        .put("/<%- EndPoint %>/{id}", 42L)
        .then()
        .statusCode(404);
  }

  @Test
  public void deleteSingleMissing() {
    delete("/<%- EndPoint %>/{id}", 404L)
        .then()
        .statusCode(404);
  }

}
