<% TableNames.forEach(function(tableName) { %>
CREATE TABLE IF NOT EXISTS <%- tableName %> (
    id SERIAL PRIMARY KEY,
    <%- CreateTableFields[tableName] %><%- CreateTableConstraints[tableName] %>
);
<% }); %>
