<mat-toolbar>
  <div fxShow="true" fxHide.gt-md="true">
    <button mat-icon-button (click)="toggleSideNavigation.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a [routerLink]="['/welcome']"><%- AppTitle %></a></div>
  <span class="spacer"></span>
  <div fxShow="true" fxHide.lt-sm="true">
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</mat-toolbar>
