logging:
  file: build/test.log
  level:
    <%- app.package %>: DEBUG
    org.springframework: INFO
    org.springframework.web.reactive.result.method.annotation.RequestMappingHandlerMapping: DEBUG
    org.springframework.web.reactive.result.method.InvocableHandlerMethod: DEBUG
    org.springframework.test.web: DEBUG
