package <%- app.package %>;

import com.fasterxml.jackson.annotation.JsonProperty;
import java.util.Objects;
import javax.validation.constraints.NotNull;
import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Column;
import org.springframework.data.relational.core.mapping.Table;
<%- Imports %>

@Table("T_<%- TableName %>")
public class <%- ClassName %> {

  @Id
  private Long id;
  <%- Fields %>

  public Long getId() {
    return id;
  }

  <%- Getters %>

  public void setId(Long id) {
    this.id = id;
  }

  <%- Setters %>

  @Override
  public boolean equals(Object o) {
    if (this == o) {
      return true;
    }
    if (o == null || getClass() != o.getClass()) {
      return false;
    }
    <%- ClassName %> <%- ObjectName %> = (<%- ClassName %>) o;
    return Objects.equals(id, <%- ObjectName %>.id)
        <%- FieldsEquals %>;
  }

  @Override
  public String toString() {
    final StringBuilder sb = new StringBuilder("<%- ClassName %>{");
    sb.append("id=").append(id);
    <%- FieldsToString %>
    sb.append('}');
    return sb.toString();
  }

}
