package <%- app.package %>;

import static <%- app.package %>.util.FluxUtils.wrapNotFoundIfEmpty;

import javax.validation.Valid;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.http.HttpStatus;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseStatus;
import org.springframework.web.bind.annotation.RestController;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

@RestController
@RequestMapping("/<%- EndPoint %>")
public class <%- ClassName %>Controller {

  private final Logger logger = LoggerFactory.getLogger(getClass());
  private final <%- ClassName %>Repository repository;
  <%- RelationalRepositoryFields %>

  public <%- ClassName %>Controller(<%- ClassName %>Repository repository<%- RelationalRepositoryParams %>) {
    this.repository = repository;
    <%- RelationalRepositoryAssignments %>
  }

  @GetMapping()
  public Flux<<%- ClassName %>> listAll() {
    logger.debug("listAll()");
    return repository.findAll();
  }

  @GetMapping("/{id}")
  public Mono<<%- ClassName %>> getOne(@PathVariable Long id) {
    logger.debug("getOne({})", id);
    return wrapNotFoundIfEmpty(repository.findById(id), "<%- ObjectName %>", id);
  }

  @DeleteMapping("/{id}")
  public Mono<<%- ClassName %>> delete(@PathVariable Long id) {
    logger.debug("delete({})", id);
    return wrapNotFoundIfEmpty(repository.findById(id)
        .flatMap(<%- ObjectName %> -> repository.delete(<%- ObjectName %>).thenReturn(<%- ObjectName %>)), "<%- ObjectName %>", id);
  }

  @PostMapping()
  @ResponseStatus(HttpStatus.CREATED)
  public Mono<<%- ClassName %>> create(@RequestBody @Valid <%- ClassName %> <%- ObjectName %>) {
    logger.debug("create({})", <%- ObjectName %>);
    return repository.save(<%- ObjectName %>);
  }

  @PutMapping("/{id}")
  public Mono<<%- ClassName %>> update(@PathVariable Long id, @RequestBody @Valid <%- ClassName %> entity) {
    logger.debug("create({} : {})", id, entity);
    entity.setId(id);
    return wrapNotFoundIfEmpty(repository.save(entity), "<%- ObjectName %>", id);
  }
  <% SingleRelations.forEach(function(relation) { %>
  @GetMapping("/{id}/<%- RelationEndpoints[relation] %>")
  public Mono<<%- RelationTypes[relation] %>> get<%- RelationNames[relation] %>(@PathVariable Long id) {
    logger.debug("get<%- RelationNames[relation] %>({})", id);
    return wrapNotFoundIfEmpty(repository.findById(id), "order", id)
        .flatMap(order -> {
          Long <%- RelationObjects[relation] %>Id = order.get<%- RelationNames[relation] %>Id();
          return wrapNotFoundIfEmpty(<%- RelationObjects[relation] %>Repository.findById(<%- RelationObjects[relation] %>Id), "<%- RelationObjects[relation] %>", <%- RelationObjects[relation] %>Id);
        });
  }
  <% }); %>
  <% ManyRelations.forEach(function(relation) { %>
  @GetMapping("/{id}/<%- RelationEndpoints[relation] %>")
  public Flux<<%- RelationTypes[relation] %>> listAll<%- RelationNames[relation] %>(@PathVariable Long id) {
    logger.debug("listAll<%- RelationNames[relation] %>({})", id);
    return wrapNotFoundIfEmpty(getOne(id), "<%- ObjectName %>", id)
        .flatMapMany(<%- ObjectName %> -> <%- RelationObjects[relation] %>Repository.findBy<%- ClassName %>Id(<%- ObjectName %>.getId()));
  }

  @GetMapping("/{id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}")
  public Mono<<%- RelationTypes[relation] %>> getOne<%- RelationNames[relation] %>(@PathVariable Long id, @PathVariable Long <%- RelationObjects[relation] %>Id) {
    logger.debug("getOne<%- RelationNames[relation] %>({}, {})", id, <%- RelationObjects[relation] %>Id);
    return wrapNotFoundIfEmpty(getOne(id), "<%- ObjectName %>", id)
        .flatMap(<%- ObjectName %> -> wrapNotFoundIfEmpty(<%- RelationObjects[relation] %>Repository.findById(<%- RelationObjects[relation] %>Id), "<%- RelationObjects[relation] %>", <%- RelationObjects[relation] %>Id));
  }

  @DeleteMapping("/{id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}")
  public Mono<<%- RelationTypes[relation] %>> delete<%- RelationNames[relation] %>(@PathVariable Long id, @PathVariable Long <%- RelationObjects[relation] %>Id) {
    logger.debug("delete<%- RelationNames[relation] %>({}, {})", id, <%- RelationObjects[relation] %>Id);
    return wrapNotFoundIfEmpty(getOne(id), "<%- ObjectName %>", id)
        .flatMap(<%- ObjectName %> -> wrapNotFoundIfEmpty(<%- RelationObjects[relation] %>Repository.findById(<%- RelationObjects[relation] %>Id), "<%- RelationObjects[relation] %>", <%- RelationObjects[relation] %>Id))
        .flatMap(<%- RelationObjects[relation] %> -> <%- RelationObjects[relation] %>Repository.delete(<%- RelationObjects[relation] %>).thenReturn(<%- RelationObjects[relation] %>));
  }

  @PostMapping("/{id}/<%- RelationEndpoints[relation] %>")
  @ResponseStatus(HttpStatus.CREATED)
  public Mono<<%- RelationTypes[relation] %>> create<%- RelationNames[relation] %>(@PathVariable Long id, @RequestBody @Valid <%- RelationTypes[relation] %> <%- RelationObjects[relation] %>) {
    logger.debug("create<%- RelationNames[relation] %>({}, {})", id, <%- RelationObjects[relation] %>);
    return wrapNotFoundIfEmpty(getOne(id), "<%- ObjectName %>", id)
        .flatMap(<%- ObjectName %> -> {
          <%- RelationObjects[relation] %>.set<%- ClassName %>Id(<%- ObjectName %>.getId());
          return <%- RelationObjects[relation] %>Repository.save(<%- RelationObjects[relation] %>);
        });
  }

  @PutMapping("/{id}/<%- RelationEndpoints[relation] %>/{<%- RelationObjects[relation] %>Id}")
  public Mono<<%- RelationTypes[relation] %>> update<%- RelationNames[relation] %>(@PathVariable Long id, @PathVariable Long <%- RelationObjects[relation] %>Id, @RequestBody @Valid <%- RelationTypes[relation] %> <%- RelationObjects[relation] %>) {
    logger.debug("update<%- RelationNames[relation] %>({}, {}, {})", id, <%- RelationObjects[relation] %>Id, <%- RelationObjects[relation] %>);
    return wrapNotFoundIfEmpty(getOne(id), "<%- ObjectName %>", id)
        .flatMap(<%- ObjectName %> -> {
          <%- RelationObjects[relation] %>.setId(<%- RelationObjects[relation] %>Id);
          return wrapNotFoundIfEmpty(<%- RelationObjects[relation] %>Repository.save(<%- RelationObjects[relation] %>), "<%- RelationObjects[relation] %>", id);
        });
  }
  <% }); %>
}
