package <%- app.package %>;

import org.springframework.data.repository.reactive.ReactiveCrudRepository;
import org.springframework.stereotype.Repository;
<%- JavaImports %>

@Repository
public interface <%- ClassName %>Repository extends ReactiveCrudRepository<<%- ClassName %>, Long> {
<%- RelationalFinders %>
}
