package <%- app.package %>;

import static io.restassured.RestAssured.delete;
import static io.restassured.RestAssured.get;
import static io.restassured.RestAssured.given;
import static org.hamcrest.CoreMatchers.equalTo;
import static org.hamcrest.CoreMatchers.hasItems;

import io.quarkus.test.junit.QuarkusTest;
import io.restassured.http.ContentType;
import io.vertx.mutiny.sqlclient.Pool;
import java.net.URI;
import java.util.stream.Stream;
import javax.inject.Inject;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

@QuarkusTest
public class <%- ClassName %>ResourceTest {

  @Inject
  Pool client;

  private Long idToGet, idToUpdate, idToDelete;

  @BeforeEach
  public void initDatabase() {
    client.query("SELECT * FROM <%- TableName %>")
        .execute()
        .onFailure()
        .recoverWithUni(() -> client
            .query("CREATE TABLE <%- TableName %> (id SERIAL PRIMARY KEY<%- TableFields %>)")
            .execute())
        .await()
        .indefinitely();
    idToGet = createOne(new <%- ClassName %>(null, <%- FieldTestValues %>));
    idToUpdate = createOne(new <%- ClassName %>(null, <%- FieldTestValues %>));
    idToDelete = createOne(new <%- ClassName %>(null, <%- FieldTestValues %>));
  }

  @AfterEach
  public void deleteEntities() {
    deleteOne(idToGet);
    deleteOne(idToUpdate);
    deleteOne(idToDelete);
  }

  protected Long createOne(<%- ClassName %> <%- ObjectName %>) {
    return Stream.of(URI.create(given()
        .contentType(ContentType.JSON)
        .body(<%- ObjectName %>)
        .post("/<%- EndPoint %>")
        .then()
        .extract()
        .header("Location"))
        .getPath()
        .split("/"))
        .reduce((first, second) -> second)
        .map(Long::parseLong)
        .orElse(null);
  }

  protected void deleteOne(Long id) {
    given()
        .contentType(ContentType.JSON)
        .delete("/fruits/{id}", id);
  }

  @Test
  public void getAll() {
    get("/<%- EndPoint %>")
        .then()
        .statusCode(200)
        .body("id", hasItems(idToGet.intValue(), idToUpdate.intValue()));
  }

  @Test
  public void getSingle() {
    get("/<%- EndPoint %>/{id}", idToGet)
        .then()
        .statusCode(200)
        .body("id", equalTo(idToGet.intValue()));
  }

  @Test
  public void getSingleMissing() {
    get("/<%- EndPoint %>/{id}", -404L)
        .then()
        .statusCode(404);
  }

  @Test
  public void create() {
    <%- ClassName %> body = new <%- ClassName %>(null, <%- FieldTestValues %>);
    given()
        .contentType(ContentType.JSON)
        .body(body)
        .post("/<%- EndPoint %>")
        .then()
        .statusCode(201);
  }

  @Test
  public void update() {
    <%- ClassName %> body = new <%- ClassName %>(idToUpdate, <%- FieldTestValues %>);
    given()
        .contentType(ContentType.JSON)
        .body(body)
        .put("/<%- EndPoint %>/{id}", idToUpdate)
        .then()
        .statusCode(200);
  }

  @Test
  public void updateMissing() {
    <%- ClassName %> body = new <%- ClassName %>(-42L, <%- FieldTestValues %>);
    given()
        .contentType(ContentType.JSON)
        .body(body)
        .put("/<%- EndPoint %>/{id}", -42L)
        .then()
        .statusCode(404);
  }

  @Test
  public void deleteSingle() {
    delete("/<%- EndPoint %>/{id}", idToDelete)
        .then()
        .statusCode(204);
  }

  @Test
  public void deleteSingleMissing() {
    delete("/<%- EndPoint %>/{id}", -404L)
        .then()
        .statusCode(404);
  }
}
