package <%- app.package %>;

import static org.hamcrest.CoreMatchers.equalTo;
import static org.hamcrest.CoreMatchers.hasItems;
import static org.hamcrest.CoreMatchers.is;
import static org.hamcrest.CoreMatchers.notNullValue;
import static org.hamcrest.CoreMatchers.nullValue;
import static org.hamcrest.MatcherAssert.assertThat;

import io.quarkus.test.junit.QuarkusTest;
import io.vertx.mutiny.sqlclient.Pool;
import java.time.Duration;
import java.util.List;
import javax.inject.Inject;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

@QuarkusTest
public class <%- ClassName %>RepositoryTest {

  private static final Duration TIMEOUT = Duration.ofSeconds(2);

  @Inject
  Pool client;

  @Inject
  <%- ClassName %>Repository repository;

  private Long idToGet, idToUpdate, idToDelete;

  @BeforeEach
  public void initDatabase() {
    client.query("SELECT * FROM <%- TableName %>")
        .execute()
        .onFailure()
        .recoverWithUni(() -> client
            .query("CREATE TABLE <%- TableName %> (id SERIAL PRIMARY KEY<%- TableFields %>)")
            .execute())
        .await()
        .indefinitely();
    idToGet = createOne(new <%- ClassName %>(null, <%- FieldTestValues %>));
    idToUpdate = createOne(new <%- ClassName %>(null, <%- FieldTestValues %>));
    idToDelete = createOne(new <%- ClassName %>(null, <%- FieldTestValues %>));
  }

  @AfterEach
  public void deleteEntities() {
    deleteOne(idToGet);
    deleteOne(idToUpdate);
    deleteOne(idToDelete);
  }

  protected Long createOne(<%- ClassName %> <%- ObjectName %>) {
    return repository.insert(<%- ObjectName %>)
        .map(inserted -> inserted.id)
        .await()
        .atMost(TIMEOUT);
  }

  protected void deleteOne(Long id) {
    repository.deleteById(id)
        .await()
        .atMost(TIMEOUT);
  }

  @Test
  public void getAll() {
    List<Long> ids = repository.findAll()
        .map(item -> item.id)
        .collectItems().asList()
        .await().atMost(TIMEOUT);
    assertThat(ids, hasItems(idToGet, idToUpdate));
  }

  @Test
  public void getSingle() {
    Long id = repository.findById(idToGet)
        .map(item -> item.id)
        .await().atMost(TIMEOUT);
    assertThat(id, is(idToGet));
  }

  @Test
  public void getSingleMissing() {
    <%- ClassName %> <%- ObjectName %> = repository.findById(-404L)
        .await().atMost(TIMEOUT);
    assertThat(<%- ObjectName %>, nullValue());
  }

  @Test
  public void create() {
    <%- ClassName %> <%- ObjectName %> = new <%- ClassName %>(null, <%- FieldTestValues %>);

    <%- ClassName %> created = repository.insert(<%- ObjectName %>)
        .await().atMost(TIMEOUT);

    assertThat(created, notNullValue());
    assertThat(created.id, notNullValue());
  }


  @Test
  public void update() {
    <%- ClassName %> <%- ObjectName %> = new <%- ClassName %>(idToUpdate, <%- FieldTestValuesUpdated %>);

    assertThat(repository.update(<%- ObjectName %>)
        .await().atMost(TIMEOUT), is(true));

    <%- ClassName %> updated = repository.findById(idToUpdate)
        .await().atMost(TIMEOUT);

    assertThat(updated, notNullValue());
  <%_ FieldNameList.forEach(function(fieldName) { _%>
    assertThat(updated.<%- fieldName %>, equalTo(<%- ObjectName %>.<%- fieldName %>));
  <%_ }); _%>
  }

  @Test
  public void updateMissing() {
    <%- ClassName %> missing = new <%- ClassName %>(-42L, <%- FieldTestValues %>);
    assertThat(repository.update(missing)
        .await().atMost(TIMEOUT), is(false));
  }

  @Test
  public void deleteSingle() {
    assertThat(repository.deleteById(idToDelete)
        .await().atMost(TIMEOUT), is(true));

    assertThat(repository.findById(idToDelete)
        .await().atMost(TIMEOUT), nullValue());
  }

  @Test
  public void deleteSingleMissing() {
    assertThat(repository.findById(-404L)
        .await().atMost(TIMEOUT), nullValue());
  }
}
