<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.5.xsd
                        http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd">

  <property name="now" value="now()" dbms="h2"/>
  <property name="now" value="current_timestamp" dbms="postgresql"/>
  <property name="floatType" value="float4" dbms="postgresql, h2"/>
  <property name="floatType" value="float" dbms="mysql, oracle, mssql"/>

  <!--
      Added the entity <%- ClassName %>.
  -->
  <changeSet id="20180206131815-1" author="mastic">
    <createTable tableName="<%- TableName %>">
      <column name="id" type="BIGINT" autoIncrement="true" startWith="100">
        <constraints primaryKey="true" unique="true" nullable="false"/>
      </column>

      <%- LiquibaseColumns %>

    </createTable>

  </changeSet>
</databaseChangeLog>
