spring:
  application:
    name: <%- app.name %>
  mvc:
    favicon:
      enabled: false
  resources:
    add-mappings: false

logging:
  file: build/application.log
  level:
    org.springframework: INFO
    <%- app.package %>: INFO

application:
