package <%- app.package %>;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.context.properties.EnableConfigurationProperties;
import org.springframework.context.annotation.Configuration;

@SpringBootApplication(proxyBeanMethods = false)
@Configuration
//mastic-pin-annotation
public class <%- appName %>Application {

  public <%- appName %>Application() {
  }

  public static void main(String[] args) {
    SpringApplication.run(<%- appName %>Application.class, args);
  }

}
