import { TestBed } from '@angular/core/testing';

import { <%- ClassName %>Service } from './<%- Route %>.service';
import { StoreModule } from '@ngrx/store';
import { reducers } from '../reducers';
import { SharedModule } from '../shared/shared.module';
import { HttpClientTestingModule, HttpTestingController } from '@angular/common/http/testing';

describe('<%- ClassName %>Service', () => {
  let service: <%- ClassName %>Service;
  let httpMock: HttpTestingController;

  beforeEach(() => {
    TestBed.configureTestingModule({
      imports: [SharedModule, StoreModule.forRoot(reducers), HttpClientTestingModule],
    });
    service = TestBed.inject(<%- ClassName %>Service);
    httpMock = TestBed.inject(HttpTestingController);
  });

  afterEach(() => {
    httpMock.verify();
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });

  const <%- ObjectNames %> = [
<%- TestObjects2 %>
  ];

  describe('#getAll', () => {
    it('should return an Observable<<%- ClassName %>[]>', () => {
      service.getAll().subscribe((result) => {
        expect(result.length).toBe(2);
        expect(result).toEqual(result);
      });

      const req = httpMock.expectOne(`/api/<%- EndPoint %>`);
      expect(req.request.method).toBe('GET');
      req.flush(<%- ObjectNames %>);
    });
  });

  describe('#getOne', () => {
    it('should return an Observable<<%- ClassName %>>', () => {
      service.getOne('42').subscribe((result) => {
        expect(result).toBeTruthy();
        expect(result).toEqual(result);
      });

      const req = httpMock.expectOne(`/api/<%- EndPoint %>/42`);
      expect(req.request.method).toBe('GET');
      req.flush(<%- ObjectNames %>);
    });
  });

  describe('#create', () => {
    it('should return an Observable<<%- ClassName %>>', () => {
      service.create(<%- ObjectNames %>[0]).subscribe((result) => {
        expect(result).toBeTruthy();
        expect(result).toEqual(result);
      });

      const req = httpMock.expectOne(`/api/<%- EndPoint %>`);
      expect(req.request.method).toBe('POST');
      req.flush(<%- ObjectNames %>);
    });
  });

  describe('#delete', () => {
    it('should return an Observable<<%- ClassName %>>', () => {
      service.delete(['42']).subscribe((result) => {
        expect(result).toBeTruthy();
        expect(result).toEqual(result);
      });

      const req = httpMock.expectOne(`/api/<%- EndPoint %>/42`);
      expect(req.request.method).toBe('DELETE');
      req.flush(<%- ObjectNames %>);
    });
  });

  describe('#update', () => {
    it('should return an Observable<<%- ClassName %>>', () => {
      service.update({id: '42', changes: {}}).subscribe((result) => {
        expect(result).toBeTruthy();
        expect(result).toEqual(result);
      });

      const req = httpMock.expectOne(`/api/<%- EndPoint %>/42`);
      expect(req.request.method).toBe('PUT');
      req.flush(<%- ObjectNames %>);
    });
  });

});
