import { ComponentFixture, TestBed, waitForAsync } from '@angular/core/testing';

import { <%- ClassName %>FormComponent } from './<%- Route %>-form.component';
import { SharedModule } from '../shared/shared.module';
import { StoreModule } from '@ngrx/store';
import { reducers } from '../reducers';
import { RouterModule } from '@angular/router';

const createNewEvent = (eventName: string, bubbles = false, cancelable = false): CustomEvent => {
  const evt = document.createEvent('CustomEvent');
  evt.initCustomEvent(eventName, bubbles, cancelable, null);
  return evt;
};

describe('<%- ClassName %>FormComponent', () => {
  let component: <%- ClassName %>FormComponent;
  let fixture: ComponentFixture<<%- ClassName %>FormComponent>;

  beforeEach(waitForAsync(() => {
    TestBed.configureTestingModule({
      imports: [SharedModule, StoreModule.forRoot(reducers), RouterModule.forRoot([], { relativeLinkResolution: 'legacy' })],
      declarations: [<%- ClassName %>FormComponent],
    }).compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(<%- ClassName %>FormComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });

  <%- CheckFormFields %>

  it('initially should be invalid', () => {
    expect(component.<%- ObjectName %>Form.valid).toBeFalsy();
  });

  it('initially should be valid upon input', () => {
    const event = createNewEvent('input');

    <%- FillFormFields %>

    expect(component.<%- ObjectName %>Form.valid).toBeTruthy();
  });
});
