import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { <%- ClassName %>Component } from './<%- Route %>.component';
import { <%- ClassName %>UpdateComponent } from './<%- Route %>-update.component';
import { <%- ClassName %>DeleteDialogComponent } from './<%- Route %>-delete-dialog.component';
import { StoreModule } from '@ngrx/store';
import * as from<%- ClassName %> from './<%- Route %>.reducer';
import { SharedModule } from '../shared/shared.module';
import { <%- ClassName %>FormComponent } from './<%- Route %>-form.component';
import { EffectsModule } from '@ngrx/effects';
import { <%- ClassName %>Effects } from './<%- Route %>.effects';

@NgModule({
  declarations: [
    <%- ClassName %>Component,
    <%- ClassName %>FormComponent,
    <%- ClassName %>UpdateComponent,
    <%- ClassName %>DeleteDialogComponent
  ],
  imports: [
    CommonModule,
    SharedModule,
    StoreModule.forFeature(from<%- ClassName %>.<%- ObjectNames %>FeatureKey, from<%- ClassName %>.reducer),
    EffectsModule.forFeature([<%- ClassName %>Effects])
  ]
})
export class <%- ClassName %>Module { }
