import { Action, createReducer, on } from '@ngrx/store';
import { EntityState, EntityAdapter, createEntityAdapter } from '@ngrx/entity';
import { <%- ClassName %> } from './<%- Route %>.model';
import * as <%- ClassName %>Actions from './<%- Route %>.actions';

export const <%- ObjectNames %>FeatureKey = '<%- ObjectNames %>';

export interface State extends EntityState<<%- ClassName %>> {
  entity?: <%- ClassName %>;
}

export const adapter: EntityAdapter<<%- ClassName %>> = createEntityAdapter<<%- ClassName %>>();

export const initialState: State = adapter.getInitialState({
  // additional entity state properties
});

export const reducer = createReducer(
  initialState,
  on(<%- ClassName %>Actions.update<%- ClassName %>,
    (state, action) => adapter.updateOne(action.update, state)
  ),
  on(<%- ClassName %>Actions.delete<%- ClassNames %>,
    (state, action) => adapter.removeMany(action.ids, state)
  ),
  on(<%- ClassName %>Actions.<%- ObjectName %>Loaded,
    (state, action) => {
      return { ...adapter.setOne(action.<%- ObjectName %>, state), entity: action.<%- ObjectName %> }
    }
  ),
  on(<%- ClassName %>Actions.<%- ObjectNames %>Loaded,
    (state, action) => adapter.setAll(action.<%- ObjectNames %>, state)
  ),
);

export const {
  selectIds,
  selectEntities,
  selectAll,
  selectTotal,
} = adapter.getSelectors();
