import { createFeatureSelector, createSelector } from '@ngrx/store';
import { <%- ObjectNames %>FeatureKey, selectAll, State } from './<%- Route %>.reducer';

const <%- ObjectName %>FeatureSelector = createFeatureSelector<State>(<%- ObjectNames %>FeatureKey);
export const selectAll<%- ClassNames %> = createSelector(<%- ObjectName %>FeatureSelector, selectAll);
export const selectCurrent<%- ClassName %> = createSelector(<%- ObjectName %>FeatureSelector,
    s => s.entity,
);
