import { Component, OnInit, Inject } from '@angular/core';
import { MAT_DIALOG_DATA, MatDialogRef } from '@angular/material/dialog';
import { <%- ClassName %> } from './<%- Route %>.model';

@Component({
  selector: 'app-<%- Route %>-delete-dialog',
  templateUrl: './<%- Route %>-delete-dialog.component.html',
  styleUrls: ['./<%- Route %>-delete-dialog.component.sass'],
})
export class <%- ClassName %>DeleteDialogComponent implements OnInit {
  constructor(
    @Inject(MAT_DIALOG_DATA) public data: {selection: <%- ClassName %>[]},
    public dialogRef: MatDialogRef<<%- ClassName %>DeleteDialogComponent>
  ) {}

  ngOnInit(): void {}
}
