<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update <%- EntityTitle %></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-<%- Route %>-form [<%- ObjectName %>]="<%- ObjectName %>$"></app-<%- Route %>-form>
  </mat-card-content>
</mat-card>
