import { Component, OnInit } from '@angular/core';
import { ActivatedRoute } from '@angular/router';
import { map } from 'rxjs/operators';
import { Observable } from 'rxjs';
import { <%- ClassName %> } from './<%- Route %>.model';
import { Store } from '@ngrx/store';
import { State } from '../reducers';
import { selectCurrent<%- ClassName %> } from './<%- Route %>.selectors';
import { load<%- ClassName %> } from './<%- Route %>.actions';
import { notNull } from '../reducers/common';

@Component({
  selector: 'app-<%- Route %>-update',
  templateUrl: './<%- Route %>-update.component.html',
  styleUrls: ['./<%- Route %>-update.component.sass'],
})
export class <%- ClassName %>UpdateComponent implements OnInit {
  <%- ObjectName %>$: Observable<<%- ClassName %>>;

  constructor(private store: Store<State>, private route: ActivatedRoute) {
    this.route.params.pipe(map((params) => params['key'])).subscribe((id) => {
      this.store.dispatch(load<%- ClassName %>({ id }));
    });
    this.<%- ObjectName %>$ = this.store.select(selectCurrent<%- ClassName %>)
      .pipe(notNull());
  }

  ngOnInit(): void {}
}

