import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable, forkJoin } from 'rxjs';
import { <%- ClassName %> } from './<%- Route %>.model';
import { Update } from '@ngrx/entity';

@Injectable({
  providedIn: 'root',
})
export class <%- ClassName %>Service {
  http: HttpClient;

  constructor(http: HttpClient) {
    this.http = http;
  }

  getAll(): Observable<<%- ClassName %>[]> {
    return this.http.get<<%- ClassName %>[]>(`/api/<%- EndPoint %>`);
  }

  getOne(key: string): Observable<<%- ClassName %>> {
    return this.http.get<<%- ClassName %>>(`/api/<%- EndPoint %>/${key}`);
  }

  create(<%- ObjectName %>: <%- ClassName %>): Observable<<%- ClassName %>> {
    return this.http.post<<%- ClassName %>>(`/api/<%- EndPoint %>`, <%- ObjectName %>);
  }

  delete(keys: string[]): Observable<any> {
    return forkJoin(keys.map(key => this.http.delete(`/api/<%- EndPoint %>/${key}`)));
  }

  update(update: Update<<%- ClassName %>>): Observable<any> {
    return this.http.put(`/api/<%- EndPoint %>/${update.id}`, update.changes);
  }
}
