<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="<%- ObjectName %>Form">
      <input type="hidden" id="id" formControlName="id" />
      <%- FormFields %>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!<%- ObjectName %>Form.valid">Submit</button>
  </form>
</div>
