import { TestBed } from '@angular/core/testing';
import { provideMockActions } from '@ngrx/effects/testing';
import { Observable, throwError, of } from 'rxjs';
import { cold } from 'jasmine-marbles';

import { <%- ClassName %>Effects } from './<%- Route %>.effects';
import {
  load<%- ClassName %>,
  load<%- ClassNames %>,
  <%- ObjectName %>Loaded,
  <%- ObjectNames %>Loaded,
  create<%- ClassName %>,
  update<%- ClassName %>,
  delete<%- ClassNames %>,
} from './<%- Route %>.actions';
import { StoreModule } from '@ngrx/store';
import { reducers } from '../reducers';
import { SharedModule } from '../shared/shared.module';
import { Actions } from '@ngrx/effects';

const serviceStub = (method: string, response: any) => {
  const service = jasmine.createSpyObj('<%- ObjectName %>', [method]);
  const isError = response instanceof Error;
  const serviceResponse = isError ? throwError(response) : of(response);
  service[method].and.returnValue(serviceResponse);
  return service;
};

describe('<%- ClassName %>Effects', () => {
  // tslint:disable-next-line: prefer-const
  let actions$: Observable<any>;

  beforeEach(() => {
    TestBed.configureTestingModule({
      imports: [SharedModule, StoreModule.forRoot(reducers)],
      providers: [<%- ClassName %>Effects, provideMockActions(() => actions$)],
    });
  });

  it('should be created', () => {
    const effects = TestBed.inject(<%- ClassName %>Effects);
    expect(effects).toBeTruthy();
  });

  it('load<%- ClassNames %> should return <%- ObjectNames %>Loaded', () => {
    const source = cold('a', { a: load<%- ClassNames %>() });
    const service = serviceStub('getAll', []);
    const effects = new <%- ClassName %>Effects(service, new Actions(source));

    const expected = cold('a', { a: <%- ObjectNames %>Loaded({ <%- ObjectNames %>: [] }) });
    expect(effects.load<%- ClassNames %>$).toBeObservable(expected);
  });

  it('load<%- ClassName %> should return <%- ObjectName %>Loaded', () => {
    const source = cold('a', { a: load<%- ClassName %>({ id: '42' }) });
    const <%- ObjectName %> = <%- TestObject4Indent %>;
    const service = serviceStub('getOne', <%- ObjectName %>);
    const effects = new <%- ClassName %>Effects(service, new Actions(source));

    const expected = cold('a', { a: <%- ObjectName %>Loaded({ <%- ObjectName %> }) });
    expect(effects.load<%- ClassName %>$).toBeObservable(expected);
  });

  it('create<%- ClassName %> should return <%- ObjectName %>Loaded', () => {
    const <%- ObjectName %> = <%- TestObject4Indent %>;
    const source = cold('a', { a: create<%- ClassName %>({ <%- ObjectName %> }) });
    const service = serviceStub('create', <%- ObjectName %>);
    const effects = new <%- ClassName %>Effects(service, new Actions(source));

    const expected = cold('a', { a: load<%- ClassNames %>() });
    expect(effects.create<%- ClassName %>$).toBeObservable(expected);
  });

  it('update<%- ClassName %> should return load<%- ClassNames %>', () => {
    const source = cold('a', { a: update<%- ClassName %>({ update: { id: '1', changes: {} } }) });
    const <%- ObjectName %> = <%- TestObject4Indent %>;
    const service = serviceStub('update', <%- ObjectName %>);
    const effects = new <%- ClassName %>Effects(service, new Actions(source));

    const expected = cold('a', { a: load<%- ClassNames %>() });
    expect(effects.update<%- ClassName %>$).toBeObservable(expected);
  });

  it('delete<%- ClassNames %> should return load<%- ClassNames %>', () => {
    const source = cold('a', { a: delete<%- ClassNames %>({ ids: ['1'] }) });
    const <%- ObjectName %> = <%- TestObject4Indent %>;
    const service = serviceStub('delete', <%- ObjectName %>);
    const effects = new <%- ClassName %>Effects(service, new Actions(source));

    const expected = cold('a', { a: load<%- ClassNames %>() });
    expect(effects.delete<%- ClassNames %>$).toBeObservable(expected);
  });
});
