import { Component, OnInit, Input } from '@angular/core';
import { FormControl, FormGroup } from '@angular/forms';
import { Store } from '@ngrx/store';
import { State } from '../reducers';
import { create<%- ClassName %>, update<%- ClassName %> } from './<%- Route %>.actions';
import { Observable } from 'rxjs';
import { <%- ClassName %> } from './<%- Route %>.model';
import { Router } from '@angular/router';

@Component({
  selector: 'app-<%- Route %>-form',
  templateUrl: './<%- Route %>-form.component.html',
  styleUrls: ['./<%- Route %>-form.component.sass'],
})
export class <%- ClassName %>FormComponent implements OnInit {
  @Input() <%- ObjectName %>!: Observable<<%- ClassName %>>;

  <%- ObjectName %>Form = new FormGroup({
    id: new FormControl(''),
    <%- FormFieldInitializers %>
  });

  constructor(private store: Store<State>, private router: Router) {}

  ngOnInit(): void {
    if (this.<%- ObjectName %>) {
      this.<%- ObjectName %>.subscribe((<%- ObjectName %>) => {
        if (<%- ObjectName %> && <%- ObjectName %>.id) {
          this.<%- ObjectName %>Form.setValue(<%- ObjectName %>);
        }
      });
    }
  }

  <%- FormFieldGetters %>

  onSubmit(): void {
    if (this.<%- ObjectName %>Form.valid) {
      if (this.<%- ObjectName %>Form.value.id) {
        this.store.dispatch(
          update<%- ClassName %>({
            update: {
              id: this.<%- ObjectName %>Form.value.id,
              changes: this.<%- ObjectName %>Form.value,
            },
          })
        );
        this.router.navigate(['/<%- Route %>']);
      } else {
        const value = this.<%- ObjectName %>Form.value;
        const { id, ...<%- ObjectName %> } = value;
        this.store.dispatch(create<%- ClassName %>({ <%- ObjectName %> }));
      }
    }
  }
}
