import { State } from './<%- Route %>.reducer';
import { selectAll<%- ClassNames %> } from './<%- Route %>.selectors';

const state: State = {
  ids: ['1', '2', '3'],
  entities: {
    <%- TestEntities %>
  },
};

describe('<%- ClassName %> Selectors', () => {
  it('selectAll<%- ClassNames %>', () => {
    expect(selectAll<%- ClassNames %>.projector(state)).toEqual([
<%- TestObjects3 %>
    ]);
  });
});
