import { ComponentFixture, TestBed, waitForAsync } from '@angular/core/testing';

import { <%- ClassName %>Component } from './<%- Route %>.component';
import { SharedModule } from '../shared/shared.module';
import { StoreModule } from '@ngrx/store';
import { reducers } from '../reducers';
import { <%- ClassName %>FormComponent } from './<%- Route %>-form.component';
import { RouterModule } from '@angular/router';

describe('<%- ClassName %>Component', () => {
  let component: <%- ClassName %>Component;
  let fixture: ComponentFixture<<%- ClassName %>Component>;

  beforeEach(waitForAsync(() => {
    TestBed.configureTestingModule({
      imports: [SharedModule, StoreModule.forRoot(reducers), RouterModule.forRoot([], { relativeLinkResolution: 'legacy' })],
      declarations: [<%- ClassName %>Component, <%- ClassName %>FormComponent],
    }).compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(<%- ClassName %>Component);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
