import { Injectable } from '@angular/core';
import { Actions, createEffect, ofType } from '@ngrx/effects';
import { <%- ClassName %>Service } from './<%- Route %>.service';
import {
  create<%- ClassName %>, <%- ObjectName %>Loaded, <%- ObjectNames %>Loaded,
  delete<%- ClassNames %>, load<%- ClassName %>, load<%- ClassNames %>, update<%- ClassName %>
} from './<%- Route %>.actions';
import { concatMap, map } from 'rxjs/operators';

@Injectable()
export class <%- ClassName %>Effects {
  constructor(private service: <%- ClassName %>Service, private actions$: Actions) { }

  load<%- ClassNames %>$ = createEffect(() =>
    this.actions$.pipe(
      ofType(load<%- ClassNames %>),
      concatMap(() => this.service.getAll()),
      map((<%- ObjectNames %>) => <%- ObjectNames %>Loaded({ <%- ObjectNames %> }))
    )
  );

  load<%- ClassName %>$ = createEffect(() =>
    this.actions$.pipe(
      ofType(load<%- ClassName %>),
      concatMap((action) => this.service.getOne(action.id)),
      map((<%- ObjectName %>) => <%- ObjectName %>Loaded({ <%- ObjectName %> }))
    )
  );

  create<%- ClassName %>$ = createEffect(() =>
    this.actions$.pipe(
      ofType(create<%- ClassName %>),
      concatMap((action) => this.service.create(action.<%- ObjectName %>)),
      map((<%- ObjectName %>) => load<%- ClassNames %>())
    )
  );

  update<%- ClassName %>$ = createEffect(() =>
    this.actions$.pipe(
      ofType(update<%- ClassName %>),
      concatMap((action) => this.service.update(action.update)),
      map((<%- ObjectName %>) => load<%- ClassNames %>())
    )
  );

  delete<%- ClassNames %>$ = createEffect(() =>
    this.actions$.pipe(
      ofType(delete<%- ClassNames %>),
      concatMap((action) => this.service.delete(action.ids)),
      map((<%- ObjectName %>) => load<%- ClassNames %>())
    )
  );
}
