import { Component, OnInit } from '@angular/core';
import { Observable } from 'rxjs';
import { Store } from '@ngrx/store';
import { <%- ClassName %> } from './<%- Route %>.model';
import { selectAll<%- ClassNames %> } from './<%- Route %>.selectors';
import { State } from '../reducers';
import { create<%- ClassName %>, delete<%- ClassNames %>, load<%- ClassNames %> } from './<%- Route %>.actions';
import { v4 as uuid } from 'uuid';
import { SelectionModel } from '@angular/cdk/collections';
import { MatDialog } from '@angular/material/dialog';
import { <%- ClassName %>DeleteDialogComponent } from './<%- Route %>-delete-dialog.component';

@Component({
  selector: 'app-<%- Route %>',
  templateUrl: './<%- Route %>.component.html',
  styleUrls: ['./<%- Route %>.component.sass'],
})
export class <%- ClassName %>Component implements OnInit {
  public dataSource: Observable<<%- ClassName %>[]>;
  public displayedColumns: string[] = [
    'id',
    'delete',
    <%- FieldColumns %>
  ];
  public selection = new SelectionModel<<%- ClassName %>>(true, []);

  constructor(private store: Store<State>, private dialog: MatDialog) {
    this.dataSource = this.store.select(selectAll<%- ClassNames %>);
  }

  ngOnInit(): void {
    this.store.dispatch(load<%- ClassNames %>());
  }

  onDeleteClick(event: Event): void {
    // prevent parent event happening (navigation)
    event.preventDefault();
    event.stopImmediatePropagation();

    const dialogRef = this.dialog.open(<%- ClassName %>DeleteDialogComponent, {
      data: {
        selection: this.selection.selected,
      },
    });
    dialogRef.afterClosed().subscribe((result: <%- ClassName %>[]) => {
      const ids = result.map((entity) => entity.id);
      if (ids && ids.length) {
        this.store.dispatch(delete<%- ClassNames %>({ ids }));
        this.selection.clear();
      }
    });
  }

  toggleSelectAll(): void {
    if (this.selection.hasValue()) {
      this.selection.clear();
    } else {
      this.dataSource.forEach((rows) => rows.forEach((row) => this.selection.select(row)));
    }
  }

  create(entity: Partial<<%- ClassName %>>): void {
    const <%- ObjectName %>: <%- ClassName %> = {
      id: uuid(),
      <%- FieldAssignments %>
    };
    this.store.dispatch(create<%- ClassName %>({ <%- ObjectName %> }));
  }
}

