import { reducer, initialState } from './<%- Route %>.reducer';
import {
  create<%- ClassName %>,
  update<%- ClassName %>,
  delete<%- ClassNames %>,
  <%- ObjectName %>Loaded,
  <%- ObjectNames %>Loaded
} from './<%- Route %>.actions';

describe('<%- ClassName %> Reducer', () => {
  describe('unknown action', () => {
    it('should return the previous state', () => {
      const action = {} as any;
      const result = reducer(initialState, action);
      expect(result).toBe(initialState);
    });
  });

  describe('update<%- ClassName %>', () => {
    it('should not update missing one', () => {
      const action = update<%- ClassName %>({ update: { id: '1', changes: <%- TestObjectUpdatedPartial %> } });
      const result = reducer(initialState, action);
      expect(result).toEqual({ ids: [], entities: {} });
    });

    it('should update one', () => {
      const <%- ObjectName %> = <%- TestObject %>;
      const action = update<%- ClassName %>({ update: { id: '1', changes: <%- TestObjectUpdatedPartial %> } });
      const result = reducer({ ids: ['1'], entities: { ['1']: <%- ObjectName %> } }, action);
      expect(result.ids).toEqual(['1']);
      expect(result.entities['1']).toEqual(<%- TestObjectUpdated %>);
    });
  });

  describe('delete<%- ClassNames %>', () => {
    it('should delete one', () => {
      const <%- ObjectName %> = <%- TestObject %>;
      const action = delete<%- ClassNames %>({ ids: ['1'] });
      const result = reducer({ ids: ['1'], entities: { ['1']: <%- ObjectName %> } }, action);
      expect(result.ids).toEqual([]);
    });
  });

  describe('<%- ObjectName %>Loaded', () => {
    it('should set one', () => {
      const <%- ObjectName %> = <%- TestObject %>;
      const action = <%- ObjectName %>Loaded({ <%- ObjectName %> });
      const result = reducer(initialState, action);
      expect(result.ids).toEqual(['1']);
    });
  });

  describe('<%- ObjectNames %>Loaded', () => {
    it('should sets all', () => {
      const <%- ObjectNames %> = [
<%- TestObjects2 %>
      ];
      const action = <%- ObjectNames %>Loaded({ <%- ObjectNames %> });
      const result = reducer(initialState, action);
      expect(result.ids).toEqual(['1', '2']);
    });
  });
});
