import { createAction, props } from '@ngrx/store';
import { Update } from '@ngrx/entity';
import { <%- ClassName %> } from './<%- Route %>.model';

export const load<%- ClassNames %> = createAction('[<%- ClassName %>/API] Load <%- EntityTitles %>');
export const <%- ObjectNames %>Loaded = createAction('[<%- ClassName %>/API] <%- EntityTitles %> Loaded Successfully',
  props<{ <%- ObjectNames %>: <%- ClassName %>[] }>());

export const load<%- ClassName %> = createAction('[<%- ClassName %>/API] Load <%- ClassName %>', props<{ id: string }>());
export const <%- ObjectName %>Loaded = createAction('[<%- ClassName %>/API] <%- ClassName %> Loaded Successfully',
  props<{ <%- ObjectName %>: <%- ClassName %> }>());

export const create<%- ClassName %> = createAction('[<%- ClassName %>/API] Create <%- ClassName %>',
  props<{ <%- ObjectName %>: <%- ClassName %> }>());

export const delete<%- ClassNames %> = createAction('[<%- ClassName %>/API] Delete <%- EntityTitles %>',
  props<{ ids: string[] }>());

export const update<%- ClassName %> = createAction('[<%- ClassName %>/API] Update <%- ClassName %>',
  props<{ update: Update<<%- ClassName %>> }>());

export const <%- ObjectName %>ActionTypes = {
  load<%- ClassNames %>,
  <%- ObjectNames %>Loaded,
  load<%- ClassName %>,
  <%- ObjectName %>Loaded,
  create<%- ClassName %>,
  delete<%- ClassNames %>,
  update<%- ClassName %>,
};
