import { ComponentFixture, TestBed, waitForAsync } from '@angular/core/testing';

import { <%- ClassName %>UpdateComponent } from './<%- Route %>-update.component';
import { SharedModule } from '../shared/shared.module';
import { StoreModule } from '@ngrx/store';
import { reducers } from '../reducers';
import { RouterModule } from '@angular/router';
import { <%- ClassName %>FormComponent } from './<%- Route %>-form.component';

describe('<%- ClassName %>UpdateComponent', () => {
  let component: <%- ClassName %>UpdateComponent;
  let fixture: ComponentFixture<<%- ClassName %>UpdateComponent>;

  beforeEach(waitForAsync(() => {
    TestBed.configureTestingModule({
      imports: [SharedModule, StoreModule.forRoot(reducers), RouterModule.forRoot([], { relativeLinkResolution: 'legacy' })],
      declarations: [<%- ClassName %>UpdateComponent, <%- ClassName %>FormComponent],
    }).compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(<%- ClassName %>UpdateComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
