package <%- app.package %>;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;

public class <%- ClassName %> {

  public Long id;
  <%- Fields %>

  public <%- ClassName %>() {
  }

  public <%- ClassName %>(Long id<%- FieldsAsParams %>) {
    this.id = id;
    <%- FieldsAssign %>
  }

  @Override
  public String toString() {
    return new ToStringBuilder(this, ToStringStyle.SHORT_PREFIX_STYLE)
        .append("id", id)
        <%- FieldsAppend %>
        .toString();
  }
}
