package <%- app.package %>;

import static java.time.ZoneOffset.UTC;

import io.vertx.mutiny.pgclient.PgPool;
import io.vertx.mutiny.sqlclient.Row;
import io.vertx.mutiny.sqlclient.SqlClient;
import io.vertx.mutiny.sqlclient.Tuple;
import java.time.LocalDateTime;
import javax.enterprise.context.ApplicationScoped;
import javax.inject.Inject;

@ApplicationScoped
public class <%- ClassName %>Repository extends ReactiveCrudRepository<<%- ClassName %>, Long> {

  @Inject
  PgPool client;

  public <%- ClassName %>Repository() {
    super(
        "SELECT id<%- FieldNames %> FROM <%- TableName %>",
        "SELECT id<%- FieldNames %> FROM <%- TableName %> WHERE id = $1",
        "INSERT INTO <%- TableName %> (<%- FieldNamesList %>) VALUES (<%- FieldIndices %>) RETURNING id<%- FieldNames %>",
        "UPDATE <%- TableName %> SET <%- FieldIndicesAssign %> WHERE id = $<%- (FieldCount + 1) %>",
        "DELETE FROM <%- TableName %> WHERE id = $1"
    );
  }

  @Override
  protected <%- ClassName %> from(Row row) {
    return new <%- ClassName %>(row.getLong("id")<%- RowFields %>);
  }

  @Override
  protected SqlClient client() {
    return client;
  }

  @Override
  protected Tuple tupleWithoutId(<%- ClassName %> entity) {
    return Tuple.tuple()<%- FieldsTuple %>
        ;
  }

  @Override
  protected Tuple tupleAndId(<%- ClassName %> entity) {
    return Tuple.tuple()<%- FieldsTuple %>
        .addLong(entity.id)
        ;
  }

}
