package <%- app.package %>;

import io.smallrye.mutiny.Multi;
import io.smallrye.mutiny.Uni;
import io.vertx.mutiny.sqlclient.Row;
import io.vertx.mutiny.sqlclient.RowSet;
import io.vertx.mutiny.sqlclient.SqlClient;
import io.vertx.mutiny.sqlclient.Tuple;
import java.util.stream.StreamSupport;

public abstract class ReactiveCrudRepository<T, ID> {

  private final String sqlFindAll;
  private final String sqlFindById;
  private final String sqlInsert;
  private final String sqlUpdate;
  private final String sqlDelete;

  public ReactiveCrudRepository(String sqlFindAll, String sqlFindById, String sqlInsert, String sqlUpdate, String sqlDelete) {
    this.sqlFindAll = sqlFindAll;
    this.sqlFindById = sqlFindById;
    this.sqlInsert = sqlInsert;
    this.sqlUpdate = sqlUpdate;
    this.sqlDelete = sqlDelete;
  }

  protected abstract T from(Row row);

  protected abstract SqlClient client();

  protected abstract Tuple tupleAndId(T entity);

  protected abstract Tuple tupleWithoutId(T entity);

  public Multi<T> findAll() {
    return client().query(sqlFindAll)
        .execute()
        .onItem().transformToMulti(set -> Multi.createFrom().items(() -> StreamSupport.stream(set.spliterator(), false)))
        .onItem().transform(this::from);
  }

  public Uni<T> findById(ID id) {
    return client().preparedQuery(sqlFindById)
        .execute(Tuple.of(id))
        .map(RowSet::iterator)
        .map(iterator -> iterator.hasNext() ? from(iterator.next()) : null);
  }

  public Uni<T> insert(T entity) {
    return client().preparedQuery(sqlInsert)
        .execute(tupleWithoutId(entity))
        .map(RowSet::iterator)
        .map(iterator -> iterator.hasNext() ? iterator.next() : null)
        .map(this::from);
  }

  public Uni<Boolean> update(T entity) {
    return client().preparedQuery(sqlUpdate)
        .execute(tupleAndId(entity))
        .onItem().transform(rowSet -> rowSet.rowCount() == 1);
  }

  public Uni<Boolean> deleteById(ID id) {
    return client().preparedQuery(sqlDelete)
        .execute(Tuple.of(id))
        .map(rowSet -> rowSet.rowCount() == 1);
  }

}
