import { TestBed, waitForAsync } from '@angular/core/testing';
import { MediaChange, MediaObserver } from '@angular/flex-layout';
import { RouterTestingModule } from '@angular/router/testing';
import { from, map, Observable } from 'rxjs';
import { RunHelpers, TestScheduler } from 'rxjs/testing';
import { AppComponent } from './app.component';
import { SharedModule } from './shared/shared.module';

describe('AppComponent', () => {
  let scheduler: TestScheduler;

  beforeEach(waitForAsync(() => {
    scheduler = new TestScheduler((actual, expected) => {
      expect(actual).toEqual(expected);
    });

    TestBed.configureTestingModule({
      imports: [RouterTestingModule, SharedModule],
      declarations: [
        AppComponent,
      ],
    }).compileComponents();
  }));

  it('should create the app', () => {
    const fixture = TestBed.createComponent(AppComponent);
    const app = fixture.componentInstance;
    expect(app).toBeTruthy();
  });

  it(`should have as title '<%- app.name %>'`, () => {
    const fixture = TestBed.createComponent(AppComponent);
    const app = fixture.componentInstance;
    expect(app.title).toEqual('<%- app.name %>');
  });

  it('should render title', () => {
    const fixture = TestBed.createComponent(AppComponent);
    fixture.detectChanges();
    const compiled = fixture.nativeElement;
    expect(compiled.querySelector('.container').textContent).toContain('<%- app.name %> app is running!');
  });

});
