import { ActionReducerMap, MetaReducer } from '@ngrx/store';
import { environment } from '../../environments/environment';
import { debug } from './debug';
<%- ReducerImports %>

export interface State {
  <%- ReducerStates %>
}

export const reducers: ActionReducerMap<State> = {
  <%- ReducerMaps %>
};

export const metaReducers: MetaReducer<State>[] = !environment.production ? [debug] : [];
